


<div class="container" role="Dog breed list and search form">

  <div class="row" role="Search form">
    <form>
      <label role="Search box">Search Dog breed:</label>
      <input type="text" [(ngModel)]="term" name="term" role="textbox" contenteditable="true">
    </form>
  </div>


  <div class="row" role="Dog breed list">
    <div class="col-4" *ngFor="let dogbreed of dogBreeds | searchPipe:term" tabindex="0">
      <a routerLink="/details/{{dogbreed}}" role="link">
        <div class="card">
          <div class="card-body">
            {{ dogbreed }}
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
